.aboutContainer{
max-width: 1440px;
height: 756px;
margin-top: 76px;
text-align: center;
}

.insideaboutcontainer{
    max-width: 1440px;
    text-align: center;
height: 684px;
}
.abouttext{
    width: 222px;
    height: 44px;
    margin: auto;
    margin-top: 24px;
    
    color: white;
    
     
}
.secondtext{
    width: 703px;
height: 48px;
margin: auto;
margin-top: 24px;
color: rgba(176, 250, 255, 0.7);
}
.aboutbutton{
    width: Fixed (108.91px)px;
height: Hug (40px)px;

margin-top: 84px;
color: black;
background-color: rgba(76, 221, 253, 1);
padding: 10px 20px 10px 20px;
gap: 0px;
border-radius: 12px ;


}
.staycontainer{
    max-width: 1440px;
    margin-top: 40px;
    height: 400px;
  
}
.insidestay{
    width: 744px;
    height: 400px;
    margin: auto;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(8, 37, 42, 1);
    
}
.secondcontainer{
    width: 617px;
    height: 304px;
    margin: auto;
    margin-top: 48px;

}
.topstay{
    text-align: left;
    width: 617px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    height: 120px;
}
.downstay{
    width: 617px;
    margin-top: 36px;
    display: flex;
    justify-content: space-between;
    height: 144px;
}
.leftstay{
    width: 290.5px;
    height: 120px;
}
.rightstay{
    width: 290.5px;
    height: 120px;
}
.staytext{
    color: white;
    width: 290.5px;
    height: 24px;
}
.stay2text{
    width: 290.5px;
    height: 48px;
    color:rgba(176, 250, 255, 0.7) ;
}
.futureleft{
    width: 290.5px;
    height: 144px;

}
.futureright{
    width: 290.5px;
    height: 144px;

}


/* mediaQuery responsive */

@media (max-width: 768px) {
   
    .aboutContainer{
        max-width: 1440px;
        height: auto;
        margin-top: 76px;
        text-align: center;
        }
        
        .insideaboutcontainer{
            max-width: 1440px;
            text-align: center;
        height: auto;
        }

        .secondtext{
            width: 100%;
        height: auto;
        margin: auto;
        margin-top: 24px;
        color: rgba(176, 250, 255, 0.7);
        }
        .insidestay{
            width: 100%;
            height: auto;
            padding: 30px;
            text-align: justify;
            box-sizing: border-box;
            margin: auto;
            border-radius: 20px;
            background-color: rgba(8, 37, 42, 1);
        }
        .staycontainer{
            max-width: 100%;
            height: auto;
        }
        .secondcontainer{
            width: 100%;
            height: auto;
            margin: auto;
            margin-top: 48px;
        
        }
        .topstay{
            width: 100%;
        }
        .downstay{
            width: 100%;
            margin-top: 100px;
            text-align: left;
            justify-content: space-between;
            height: auto;
        }
        .stay2text{
            width: auto;
            height: auto;
            
            color:rgba(176, 250, 255, 0.7) ;
        }
        .rightstay{
            width: 100%;
           
          
        }
    .leftstay,  .futureleft, .futureright {
      width: 100%; 
      height: auto; 
      margin-bottom: 16px;
    }
  
    .topstay, .downstay {
      flex-direction: column; 
      align-items: center;
    }
  }
  
