.maincontainer{
max-width: 1440px;
height: 832px;
margin: auto;
margin-top: 302px;


}
.videocontainer{
   
    max-width:1540px;
    height: 404px;
    margin: auto;
   
   
}
.marketvideo{
    width: 100%;
   
    
    margin-left: -1200px;
    height:100%;
    justify-content: space-between;
    transform: rotate(180deg);
}
.leftvideo{
    width:100%;
    height:100%;
    margin-top: 380px;
    overflow: hidden;
    position: relative;
    background: linear-gradient(90deg, #00161D 0%, rgba(0, 22, 29, 0) 50%, #00161D 100%,
    linear-gradient(180deg, #00161D 0%, rgba(0, 22, 29, 0) 50%, #00161D 100%));

}
.features{
    font-weight: 500px;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
  padding: 100px;
  box-sizing: border-box;
    align-items: center;
    display: flex;
    justify-content: center;
}
.rightvideo{
    width: 100%;
    height:100%;
    overflow: hidden;
    margin-top: -400px;
    position: relative; 
}
.markerighttvideo{
    width:100%;
    z-index: -1;
    margin-left: 1200px;
    height:100%;
   
}


.upper{
    display: flex;
    justify-content: space-between;
    max-width:1200px;
    height:504px;
    margin:auto;
    position: relative;
    margin-top: -450px;
    
}
.left:hover{
transform: scale(1.5px);
cursor: pointer;
}


.lowercontainer{
    display:flex;
    
    max-width:1200px;
    height:240px;
    margin:auto;
    margin-top: 70px;
    
  
    justify-content: space-between;
}


.left{
    height: 100%;
    width: 280px;
    border-top-left-radius: 30px;
    background-color: rgb(8, 37, 41);
}

.right{
    height: 100%;
    background-color: rgb(8, 37, 41);
    width: 280px;
    border-top-right-radius: 30px;

}
.mid{
    height: 100%;
 
    width: 608px;
}
.portfolio{
    height: 240px;
    background-color: rgb(8, 37, 41);
    width: 446px;
    border-bottom-left-radius: 20px;
}
.scout{
    height: 240px;
    background-color: rgb(8, 37, 41);
    width: 738px;
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    border-bottom-right-radius: 20px;
}
.rectangele{
    height: 100px;
    width: 100px;
    background-color:rgba(21, 182, 201, 1) ;
    margin: auto;
    border-radius: 16px;
    margin-top: 91px;
}
.trade{
    height: 232px;
    text-align: center;
    height: 203px;
    margin: auto;
    margin-top: 48px;
}
.midfirst{
    height: 198px;
    width: 608px;
    padding: 32px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: rgb(8, 37, 41);
}
.midsecond{
    height: 290px;
    margin-top: 10px;
    width: 608px;
    background-color: rgb(8, 37, 41);
    border-radius: 16px;
}
.insight{
    height: 134px;
    max-width: 360px;

}
.insightscout{
    height: 158px;
   
    max-width: 340px;
}


/* mediaQuery Responsive */


@media (max-width: 768px) {
    .maincontainer{
        max-width: 1440px;
        height: auto;
        margin: auto;
        overflow-y: hidden;
        }
    .upper {
        display: flex;
        flex-direction: column;
        width: 100%; 
        height: auto; 
        margin: 0; 
        margin-top: -650px;
    }

    .lowercontainer {
        display: flex;
        flex-direction: column;
        width: 100%; 
        height: auto; 
        margin: auto;
        margin-top: 10px;
    }

    .left, .right, .mid {
        width: 100%; 
        height: auto; 
        margin-bottom: 10px; 
        border-radius: 16px;
    }

    .portfolio, .scout {
        width: 100%; 
        height: auto;
        margin: auto;
        border-radius: 16px;
    }

    .scout {
        flex-direction: column; 
        padding: 10px;
        margin-top: 20px;
    }
    
    .rectangele {
        margin-top: 20px;
    }

    .midfirst, .midsecond {
        width: 100%; 
        padding: 16px;
    }

    .insight, .insightscout {
        max-width: 100%; 
        height: auto; 
    }
}
